<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="/assets/css/livereload.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora:regular,bold&v1">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Caudex:regular,bold&v1">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold&v1">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif&v1">
  <link rel="stylesheet" href="">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24459554-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script src="//load.sumome.com/" data-sumo-site-id="b7a0635ab5a3564b5e37aa9910bcfdc674a6ae119998c00c452ca50a6f56f5a8" async></script>
</head>
