---
title: Beta Versions of LiveReload
layout: page
permalink: /beta/
---

{% if site.data.version_mac_beta.version == site.data.version_mac_production.version %}

<p>
    There is no beta version at the moment.
    Please download <strong>stable v{{ site.data.version_mac_production.version }}:</strong>
    <a href="{{ site.data.version_mac_production.url }}">LiveReload-{{ site.data.version_mac_production.version }}.zip</a>
</p>

{% else %}

<p>
    <strong>Download v{{ site.data.version_mac_beta.version }}:</strong>
    <a href="{{ site.data.version_mac_beta.url }}">LiveReload-{{ site.data.version_mac_beta.version }}.zip</a>
</p>

{% for version in site.data.versions_mac_beta_until_production %}
    <p>Changes in <strong>{{ version.version }}:</strong></p>

    <ul>
    {% for item in version.release_notes %}
        <li>
            {% if item.details %}
            {{ item.details | markdownify }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>

{% endfor %}

{% endif %}
